
<tr>
    <td>
      <div class="row">
        <div class="col-3">
          Name: <%= comment.name %>
        </div>
        <div class="col-1">
        </div>
        <div class="col-8 border-left">
          <%= comment.content %>
        </div>
      </div>

      <div style="float:right">

        <br>
          <%= link_to "Reply", account_comment_path(@account, comment.id),
              method: :delete, data: { confirm: 'Are you sure?' },
              class:'text-dark', style: 'padding-right:5px' %>

          <%= link_to " Delete", account_comment_path(@account, comment.id),
              method: :delete, data: { confirm: 'Are you sure?' },
              class:'text-dark'%>
      </div>
      </td>
      <% if user_signed_in? %>
    <% else %>
  <% end %>
</tr>
