
<div class="row">
  <div class="col-md-6 mx-auto">

<h1>New tag</h1>

<%= render 'form', mytag: @mytag %>
<br>
<%= link_to 'Back', root_path, class:'form-control btn btn-outline-dark' %>

</div>
</div>
