<div class="row">
    <div class="col-md-4 mx-auto">

  <strong>Category:</strong>
  <%= @mytag.category %>


<%= link_to 'Edit', edit_mytag_path(@mytag) %> |
<%= link_to 'Back', mytags_path %>
</div>
</div>
