<!-- Footer -->
<div class="container">

<footer class="font-small fixed-bottom" style="background-color:#148F77">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.facebook.com/rodelio.domingo.5" target="_blank" class="text-warning">Rodelio B. Domingo Jr. </a>
  </div>
  <!-- Copyright -->
</footer>
</div>
<!-- Footer -->
