<%= form_for ([@account, @account.comments.build]) do |f| %>
  <%= f.text_field :name, class:'form-control',
      placeholder:'Enter your name', autofocus: 'true', required:'true' %>
      <br>
      <%= f.text_area :content, class:'form-control mb-2',
          placeholder:'Enter new comment', autofocus: 'true', required:'true' %>
    <div class="row">
      <div class="col-md-2 ml-auto">
        <%= f.submit :Submit, class:'form-control btn btn-outline-primary btn-sm'%>
    </div>
  </div>
<% end %>
