
<div class="row">
  <div class="col-md-4 mx-auto">
    <h2>Edit</h2>
<%= render 'form', account: @account %>
<br>
<%= link_to 'Show', @account , class:'form-control btn btn-outline-info'%>
<br>
<br>
<%= link_to 'Back', accounts_path , class:'form-control btn btn-outline-dark'%>
</div>
</div>
